html, body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 10px;
}

/* 简历居中包裹 */
.center_wapper {
    width: 60%;
    height: 100%;
    margin: auto;
}


/* 侧边栏 */
.aside_nav {
    width: 30%;
    float: left;
    background-color: #00BEA5;
}

.aside_wapper {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-left: 50px;
}

/* 侧边栏 -> 标题部分*/
.aside_title_section .resume_title {
    font-size: 2.5rem;
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.aside_title_section .seeker_name {
    font-size: 2.5rem;
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 10px;
}

.aside_title_section .seeker_job {
    font-size: 1rem;
    font-weight: normal;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 10px;
}

.aside_title_section .seeker_avatar {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    margin-top: 20px;
}

.aside_title_section .seeker_introduction {
    margin-top: 25px;
}

.aside_title_section .seeker_introduction p{
    font-size: 1.3rem;
    color: gray;
    max-width: 200px;
    text-indent: 1em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

/* 个人信息部分  技能信息部分 语言信息部分 布局样式*/
.aside_personal_section, 
.aside_skills_section,
.aside_language_section {
    margin-top: 32px; 
    margin-bottom: 25px;
}

.aside_personal_section caption, 
.aside_skills_section caption,
.aside_language_section caption{
    text-align: left;
    font-size: 1.8rem;
    color: #0682B9;
    margin-bottom: 25px;
}

.aside_personal_section td, 
.aside_skills_section td,
.aside_language_section td{
    text-align: left;
    font-size: 1.3rem;
    color: black;
}

.aside_personal_section td:nth-child(2), 
.aside_skills_section td:nth-child(2),
.aside_language_section td:nth-child(2){
    padding-left: 40px;
}


/* 侧边栏-> 个人信息部分 */

/* 侧边栏-> 专业技能部分 */

/* 侧边栏-> 语言技能部分 */





.main_body {
    height: 1200px;
    width: 65%;
    padding-left: 5%;
    float: right;
    background-color: #EFF1F0;
}
